<title> My Link Shortner </title>
<% if(username){ %>
    <p>Welcome <%=username %></p>
    <form method="POST" action="/logout">
        <input type="submit" name="submit" value="Logout" />
    </form>
<% }else{ %>
    <form action="/login" method="POST">
        <label for="longURL"> Username</label>
        <input type="text" name="username" placeholder="" style="width: 200px">
        <input type="submit" value="Submit">
    </form>
<% } %>